# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
myenv/
.env/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Database Files
*.db
*.sqlite3

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Test Cache
.pytest_cache/

# Mypy Cache
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# Build Files
build/
dist/
*.egg-info/

# Bytecode
*.pyo